{% extends "global/base.html" %}
{% load static %}

{% block titlePage %} VC| Register {% endblock titlePage %}

{% block headPage %}
    <link rel="stylesheet" href=" {% static 'css/demandRegister.css' %}">
    <script src="https://cdn.tailwindcss.com"></script>
{% endblock headPage %}
        
{% block contentPage %}
    {% include "global/navBar.html" %}
    <main class="containerMain" id="containerMain">
        <section class="containerPainelTitle" id="containerPainelTitle">
            <h1 class="titlePainel" id="titlePainel">Cadastre suas Demanda</h1>
        </section>
       {% if messages %}
            <div class="messages">
                {% for message in messages %}
                 <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">   
                        {{ message }}
                      </div>  
                {% endfor %} 
            </div>
        {% endif %}
        <section class="containerPainel" id="containerPainel">
            <form method="post" class="space-y-6 "> 
                {% csrf_token %}
                <div class="formContainer">
                    {% include "global/forms.html" with form=form %}
                   
                    
                </div> 
                <div class="containerCheckbox">
                    <input type="checkbox" id='check' name="next" value="{{ next }}">
                    <label for="checkbox" class="ml-2 block text-sm text-gray-900">Área já cadastrada?</label>
                </div>
                  
                
                <button type="submit" class="btnSubmit btn-primary w-full flex justify-center py-3 px-4 border border-transparent rounded-lg shadow-sm text-sm font-medium text-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">Cadastrar Demanda</button>
            </form>

        </section>
        
    </main>
    
{% endblock contentPage %}
