@import url("/static/global/navBar.css");
* {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    cursor: pointer;
}
svg{
    background: none;
}
body {
    background: none;
}

/* main*/
main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: calc(100vh - 70px); /* Ajusta a altura para preencher a tela menos a altura da navbar */
    background-color: #f0f4f8;
    padding-top: 2rem;
}
main .containerPainelTitle {
    width: 70%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
main .containerPainelTitle .titlePainel {
    font-size: x-large;
    font-weight: 600;
    color: rgb(51, 51, 51);
}
main .containerPainel{
    width: 90%;
    height: 400px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;

}
main .containerPainel > form {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main .containerPainel  .formContainer{
    width: 80%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
}


main .btnSubmit{
    width: 25%;
    min-width: 250px;
    height: 42px;
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4338CA;
    color: white;
    font-weight: 600;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.3s,transform 0.2s;
    cursor: pointer;
}   

main .btnSubmit:hover{
    transform: translateY(-3px); /* Efeito de elevação ao passar o mouse */
    background-color: #3e52ec;
    box-shadow: 0 6px 8px rgba(77, 96, 231, 0.2), 0 2px 4px rgba(77, 96, 231, 0.15);
}

main .containerButton svg{
    margin-right: 0.5rem;
}

.inputs{
    margin: 0.5rem;
}

@media (max-width: 417px) {
    main .containerPainel{
        width: 95%;
        height: auto;
    }
    .containerInput{

        width: fit-content !important;
        min-width: 100px;
        
    }
    .inputs{
        width: 100% !important;
    }

    main .btnSubmit{
        width: 25%;
        min-width: none;

    }  

    
}
@media (max-width: 300px) {
        main .containerPainel{
        width: 95%;
        height: auto;
    }
    .containerInput{

        width: fit-content !important;
        min-width: none !important;
        
    }
    .inputs{
        width: auto !important;
    }

    main .btnSubmit{
        width: fit-content;
        padding: 1.3rem;
        min-width: none;

    }  
    main {
        width: 300px;
}
}