
/* navBar*/
nav {
    display: flex;
    width: auto;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
    background-color: #4d60e7; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav .containerIcons{
    width: 15%;
    min-width: 200px;
    height:2.8rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 1px;
    background: none;

}
nav .containerIcons  .containerIcon {
    width: 18%;
    min-width: 50px;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: none;
    border-radius: 50%;
}
nav .containerIcons  .containerIcon:hover {
    background-color: #4f46e5 ;
    transition: 0.8s;
}
nav .header{
    color: white;
    background: none;

}
nav .header h1{
    background: none;
    font-weight: 600;
    text-align: center;
    font-size: 1.5rem;

}
/*Responsive navBar*/
@media (max-width: 392px) {
    nav {
        flex-direction: column;
        height: auto;
        padding: 1rem 1rem;
    }
}
@media (max-width: 300px) {
    nav {
        flex-direction: column;
        height: auto;
        padding: 0.5rem 0.5rem;
        width: 300px;
    }
    nav .containerIcons{
        width: auto;
        min-width: auto;
        flex-wrap: wrap;
        height: auto;
        
    }
}
/* End navBar*/
.selects{
    cursor: pointer;
}
main .messages{
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 1s, box-shadow 1s;
    margin: 0.5rem;
}
.alert-success {
    width: fit-content;
    height: fit-content;
    display: flex;
    color: white;
    background-color: darkseagreen;
    border-radius: 8px;
    padding: 0.8rem;
    font-size: small;
}
.alert-error {
    width: fit-content;
    height: fit-content;
    display: flex;
    color: white;
    background-color: rgb(189, 104, 104);
    border-radius: 8px;
    padding: 0.8rem;
    font-size: small;
}
.alert-warning {
    width: fit-content;
    height: fit-content;
    display: flex;
    color: white;
    background-color:darkkhaki;
    border-radius: 8px;
    padding: 0.8rem;
    font-size: small;
}
.errorlist{
    color: rgb(255, 70, 70);
    list-style-type: none;
    padding: 0;
    font-size: small;
    padding: 0.8rem;
}